/* this is my css page, where my sets colors, fonts, layout, and improves readability and accessibility */
/* This is the format for CSS comments */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #330721;
}

header, footer {
    background-color: #4a0539;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #003366;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 10px;
}
